# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDE-specific folders
.vscode/
.idea/

# Optional: If using next.js, React Native, etc., more entries may apply
